
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e7000b;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #FFB796;
  --chart-2: #A2D6CE;
  --chart-3: #104e64;
  --chart-4: #f4e5a8;
  --chart-5: #FFDBA2;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --primary: #e5e5e5;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: rgb(252, 63, 77)
  ;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #737373;
  --chart-1: rgb(20, 72, 231);
  --chart-2: #00bc7d;
  --chart-3: #fd9a00;
  --chart-4: #ad46ff;
  --chart-5: #fc1854;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: rgb(20, 72, 231);
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #737373;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle,transparent,rgba(0,0,0,0.9));
}

@layer utilities {
  .gradient{
    @apply bg-gradient-to-b from-gray-400 via-gray-200 to-gray-600;
  }

  .gradient-title {
    @apply font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2;
    background-image: linear-gradient(to bottom, #9ca3af, #e5e7eb, #4b5563);
  }
}

/* @layer utilities {
  .gradient {
    @apply bg-gradient-to-b from-gray-800 via-gray-600 to-gray-900; 
  }

  .gradient-title {
    @apply font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2;
    background-image: linear-gradient(to bottom, #1f2937, #374151, #111827); 
  }
} */


/* @layer utilities {
  .gradient {
    @apply bg-gradient-to-b from-gray-800 via-gray-600 to-gray-900; 
  }

  .gradient-title {
    @apply font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2;
    background-image: linear-gradient(to bottom, #1f2937, #374151, #111827); 
  }
} */




/* @layer utilities{
  .gradient {
    @apply bg-gradient-to-b from-gray-400 via-gray-200 to-gray-600;
  }
  .gradient-title {
    @apply font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2 gradient;
  }
} */

.hero-image-wrapper{
  perspective: 1000px;
}

.hero-image{
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.hero-image.scrolled {
  transform: rotateX(0deg) scale(1) translateY(40px);
}




/* 
:root {
  --radius: 0.625rem;
  --background: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(0, 0, 0);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(0, 0, 0);
  --primary: rgb(53, 53, 53);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(251, 251, 251);
  --secondary-foreground: rgb(53, 53, 53);
  --muted: rgb(251, 251, 251);
  --muted-foreground: rgb(146, 146, 146);
  --accent: rgb(251, 251, 251);
  --accent-foreground: rgb(53, 53, 53);
  --destructive: rgb(197, 57, 22);
  --border: rgb(234, 234, 234);
  --input: rgb(234, 234, 234);
  --ring: rgb(181, 181, 181);
  --chart-1: rgb(229, 128, 54);
  --chart-2: rgb(80, 148, 194);
  --chart-3: rgb(95, 132, 184);
  --chart-4: rgb(245, 173, 43);
  --chart-5: rgb(248, 163, 54);
  --sidebar: rgb(255, 255, 255);
  --sidebar-foreground: rgb(0, 0, 0);
  --sidebar-primary: rgb(53, 53, 53);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(251, 251, 251);
  --sidebar-accent-foreground: rgb(53, 53, 53);
  --sidebar-border: rgb(234, 234, 234);
  --sidebar-ring: rgb(181, 181, 181);
}

.dark {
  --background: rgb(0, 0, 0);
  --foreground: rgb(255, 255, 255);
  --card: rgb(53, 53, 53);
  --card-foreground: rgb(255, 255, 255);
  --popover: rgb(53, 53, 53);
  --popover-foreground: rgb(255, 255, 255);
  --primary: rgb(234, 234, 234);
  --primary-foreground: rgb(53, 53, 53);
  --secondary: rgb(70, 70, 70);
  --secondary-foreground: rgb(255, 255, 255);
  --muted: rgb(70, 70, 70);
  --muted-foreground: rgb(181, 181, 181);
  --accent: rgb(70, 70, 70);
  --accent-foreground: rgb(255, 255, 255);
  --destructive: rgb(190, 59, 25);
  --border: rgb(255, 255, 255 / 10%);
  --input: rgb(255, 255, 255 / 15%);
  --ring: rgb(146, 146, 146);
  --chart-1: rgb(0, 91, 165);
  --chart-2: rgb(241, 162, 58);
  --chart-3: rgb(248, 163, 54);
  --chart-4: rgb(78, 114, 226);
  --chart-5: rgb(246, 116, 74);
  --sidebar: rgb(53, 53, 53);
  --sidebar-foreground: rgb(255, 255, 255);
  --sidebar-primary: rgb(0, 91, 165);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(70, 70, 70);
  --sidebar-accent-foreground: rgb(255, 255, 255);
  --sidebar-border: rgb(255, 255, 255 / 10%);
  --sidebar-ring: rgb(146, 146, 146);
} */
